{% extends 'index.html' %}
{% load static %}
{% block body %}
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px;background:black;">
							<div class="slider_banner_info">
							
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about" style="background:black;color:white;">
<div class="about py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2" style="color:white;">ABOUT US</h3><iframe style="height:0"></iframe>
<div class="row">
<div class="col-md-6 com-sm-6 w3three_al1">
<h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Take A Look About Our Company</h4>
<p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2" style="text-align:justify;">For those who believe differently, Grownited is an open-source organisation. Ideas are precious to people, and we are aware that it took you some time to come up with this one. Ideas shouldn't just sit around, therefore we take on the task on their behalf.</p>
<p style="text-align:justify;">
Grownited is an organisation that helps start-ups expand their ideas into practical realities. We work hard to create new things with you in order to create a brand-new, cutting-edge India. Putting a notion and the individuals who will strive to make it a reality together is a difficult process.We think that young people who are entrepreneurial are the future. And we want to contribute to the advancement of our values by becoming a part of this future.
</p><br>
<p style="text-align:justify;">
Another of these ideas is that we must take care of the future since it belongs to us. Nothing counts more in the current global environment than experience. For this, we provide internships in more than 15 categories to people between the ages of 14 and 26.
</p>
<a href="#" style="color:white;">Read More</a>
</div>
<div class="col-md-6 com-sm-6 w3three_al">
<img src="images/ab.jpg" alt="" class="img-fluid">
</div>
</div>
<div class="w3_acd">
<h4>Why Choose Us</h4>
			<div class="w3-agileits-team-title"> 
				
				
			<div id="horizontalTab">
					<ul class=" resp-tabs-list">
					<li>
						<h5>Interior Designs</h5>
					</li>
					<li>
						<h5>Exterior Designs</h5>
					</li>
					<li>
						<h5>Gardening</h5>
					</li>
					<li>
					<h5>Roofing</h5>
					</li>
					</ul>
					<div class=" resp-tabs-container">
					<div class="tab1">
						<div class="row">
<div class="col-md-6 com-sm-6 w3three_al2">
<div class="test-wel">
						
						<p style="color:white">	Interior design is the art and science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space. An interior designer is someone who plans, researches, coordinates, and manages such enhancement projects</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>we treat every project as a unique design journey</li>
							<li>
								<i class="fas fa-check"></i>interpreting your tastes and ambitions to create your perfect home</li>
							<li>
								<i class="fas fa-check"></i>Our creative and technical expertise in the interior design industry has grown over time to provide imaginative and inventive solutions for projects.</li>
							<li>
								<i class="fas fa-check"></i> We design every aspect of the project from wall and floor finishes to full kitchen and bathroom specifications and lighting and electrical design to procurement, installation and decoration. </li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al3">
<img src="images/ab1.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					
					<div class="tab2">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al4">
<div class="test-wel">
						
						<p style="color:white">Exterior design includes your home's size and shape, how it fits into the surrounding neighbourhood and streetscape, and the impact it has on its site. </p>
						<ul>
							<li>
								<i class="fas fa-check"></i> increase your property value by up to 20%.</li>
							<li>
								<i class="fas fa-check"></i>good exterior design shows that you've put time and effort into making your home look its best.</li>
							<li>
								<i class="fas fa-check"></i>provides the first impression of your business</li>
							<li>
								<i class="fas fa-check"></i>Balancing Shapes With Symmetry</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al5">
<img src="images/ab2.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					<div class="tab3">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al6">
<div class="test-wel">
						
						<p style="color:white">Gardening is the practice of growing and cultivating plants as part of horticulture. In gardens, ornamental plants are often grown for their flowers, foliage, or overall appearance; useful plants, such as root vegetables, leaf vegetables, fruits, and herbs, are grown for consumption, for use as dyes, or for medicinal or cosmetic use</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Our attention to detail is second-to-none and the finishing touches reflect our professional approach</li>
							<li>
								<i class="fas fa-check"></i>We have extensive experience, working closely with a variety of garden designers and clients, both private and commercial, from conception through to design</li>
							<li>
								<i class="fas fa-check"></i>We are passionate about the environment and have worked hard to create an exciting company that provides the best choice for your landscaping needs.</li>
							<li>
								<i class="fas fa-check"></i>it has become less of a luxury & more of a practical investment increasing the enjoyment and value of your home.</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al7">
<img src="images/ab3.jpg" alt="" class="img-fluid">
</div>
</div>	
					</div>
					<div class="tab4">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al8">
<div class="test-wel">
						
						<p style="color:white">A roof is the top covering of a building, including all materials and constructions necessary to support it on the walls of the building or on uprights, providing protection against rain, snow, sunlight, extremes of temperature, and wind. A roof is part of the building envelope.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>A roof is the top covering of a building, including all materials and constructions necessary to support it on the walls of the building or on uprights, providing protection against rain, snow, sunlight, extremes of temperature, and wind. A roof is part of the building envelope. </li>
							<li>
								<i class="fas fa-check"></i>We have the experience to complete your roof replacement or repair correctly and economically. </li>
							<li>
								<i class="fas fa-check"></i>We believe that accountability is the foundation for a job done right. We believe in making the right decision in every situation and if we need to present</li>
							<li>
								<i class="fas fa-check"></i> Adequately insured for your protection · Have a proven reputation for providing quality </li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al9">
<img src="images/ab4.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					</div>
					
					
			</div>
	</div>
	</div>
</div>
</div>
</section>



{% endblock %}

